.bills {
    background-color: #f6f3f3;
    padding: 10px 30px 10px 30px;
    min-height: calc(100vh - 140px); //subtracted height of navbar & footer

    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 77px 10px 77px;
    }

    .bottom {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;


        // due/paid button
        .bill-status-toggle {
            display: flex;
            justify-content: center;
            align-items: center;

            .MuiToggleButtonGroup-root {
                border: none;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

                .MuiToggleButtonGroup-groupedHorizontal:not(:last-child) {
                    border-right: none;
                }
            }

            .MuiToggleButton-root {
                border-radius: 0;

                &:hover {
                    background-color: #dcdcdc;
                }

                &.Mui-selected {
                    color: #fff;
                    background-color: #1976d2;

                    &:hover {
                        background-color: #1565c0;
                    }
                }
            }
        }


        // //table
        // .TableContainer {
        //     width: 70%;

        //     tbody tr:hover {
        //         background-color: #f0f0f0;
        //     }
        // }



        .table-header {
            background-color: black;



            .tab-header {
                color: white;
                font-size: larger;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;




                // //sort active will turn black as primary, need to change to white since .table-header {background-color: black;
                // .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
                //     color: white;
                // }
                .MuiTableSortLabel-root {
                    color: white;

                    &.MuiTableSortLabel-active {
                        color: white;
                    }

                    .MuiTableSortLabel-icon {
                        color: white !important;
                    }
                }

            }
        }

        .center-align {
            text-align: center;
            font-size: 18px;
        }

        .table-row:hover {
            cursor: pointer;
            background-color: #f6f3f3;
            transition: 0.4s;
        }

        .edit-button:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
}