.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); //two equal-width columns
    // gap: 20px;
    // padding: 10px; 

    .overview,
    .account-summary,
    .transactions,
    .budget,
    .goals {
        // background-color: #f0f0f0;
        background-color: white;
        padding: 20px;
        // border-radius: 10px;
        margin: 10px;
        min-height: 200px;
    }

    .budget-item,
    .goal-item {
        margin-bottom: 10px;

        progress {
            width: 100%;
        }
    }
}