.account {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 50%;

    .container {
        padding: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            padding: 10px 77px 10px 77px;
            margin-bottom: 60px;

            .button {
                cursor: pointer;
            }

        }

        hr {
            margin: 20px 75px;
            border: none;
            height: 0.5px;
            background-color: #444,
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            padding: 10px 77px 10px 77px;
        }
    }

}