.transaction {
  // background-color: lightblue;
  background-color: #f6f3f3;
  padding: 10px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  min-height: calc(100vh - 140px); //subtracted height of navbar & footer



  // gap: 20px;
  .top {
    display: flex;
    justify-content: space-between;
    padding: 10px 77px 10px 77px;
  }


  .bottom {
    // display: flex;
    // gap: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%; // Set the width to the desired value 
    margin: 0 auto; // Center the element horizontally 
    margin-bottom: 30px; //space between pie chart and table

    .table-header {
      background-color: black;

      .tab-header {
        color: white;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        .MuiTableSortLabel-root {
          color: white;

          &.MuiTableSortLabel-active {
            color: white;
          }

          .MuiTableSortLabel-icon {
            color: white !important;
          }
        }
      }
    }

    .table-row:hover {
      background-color: #f6f3f3;
      transition: 0.4s;
    }

    .pie-card {}

    // background-color: lightblue;

    .center-align {
      text-align: center;
      font-size: 16px;
    }

    .select {
      display: flex;
      align-items: start;
      justify-content: start;
      background-color: gray;
    }
  }
}