.footer {
    display: flex;
    justify-content: center;
    color: #666;
    // color: black;
    // margin: 50px 0px;
    // position: absolute;
    // position: sticky;
    bottom: 0;
    // width: 100%;
    // height: 50px;
    height: 80px;
    // height: calc(100vh - 60px);

    .container {
        width: 100%;
        // position: relative;

        hr {
            // margin: 0px 0px 10px 0px;
            height: 0;
            // border: 1px solid #ebe9e9;
            border: 1px solid white;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin: 0px 95px 0px 50px;
            // margin-bottom: 10px;
            margin-left: 50px;
            margin-right: 95px;
            margin-top: 25px;

            .left {
                width: max-content;
                display: flex;
                align-items: center;
                gap: 20px;
                // color: black;

                span {
                    font-size: 13px;
                    white-space: nowrap;
                    margin-bottom: -2px;
                }
            }

            .right {
                width: max-content;
                display: flex;
                align-items: center;
                gap: 30px;

                .social {
                    display: flex;
                    gap: 20px;
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}