.leftBar {
  display: flex;
  flex: 1; // 1/7 space for leftbar and 6/7 space for outlet
  justify-content: center;

  // background-color: gray;

  .active {
    color: blue;
  }

  .container {
    padding: 50px;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 50px;

      span {
        font-size: 20px;

      }

      .item {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        gap: 10px;

        // background-color: lightblue;
      }
    }
  }
}