.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid;

  span {

    font-size: 20px;
  }

  .left {}

  .right {
    display: flex;
    gap: 20px;
    cursor: pointer;

  }
}