.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid #056678;

  span {
    font-size: 20px;
  }

  .left {
    margin-top: 10px;

    .logo {
      color: #056678;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s ease;
    }

    .logo:hover {
      color: #034a53;
    }
  }

  .right {
    display: flex;
    margin-top: 5px;

    .leftRight {
      margin-right: 40px;
    }

    cursor: pointer;

    .icon-cls {
      width: 50px;
      height: 30px;
      margin-right: 10px;
    }
  }
}